body{
    /* padding-top:250px;
    padding-left: 550px; */
    background-image: url(imagem/fundo.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}
